
body {
    font-family: Arial, sans-serif;
    background-color: #fbe6e6;
    color: #4d4d4d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-family: 'Dancing Script', cursive;
    color: #ff3366;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #ff3366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6699;
}

footer p {
    font-size: 12px;
    color: #777;
}
